<header>
  <div class='header'>
    <div class='title'>
      <h1>
        <a href="{{ url_for("index") }}" class='header-text-link'>
          <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i> Recipe Share
        </a>
      </h1>
    </div>

    <div class='user'>
      {% if 'username' not in session: %}
			<a class='header-text-link' href={{url_for('showLogin')}}>Click Here To Login</a>
  		{% else: %}
  			<a class='header-text-link' href={{url_for('disconnect')}}>Disconnect</a>
  		{% endif %}
    </div>
  </div>
</header>
