{% extends "main.html" %}
{% block content %}

<div class="login-box">
  <h1>Login</h1>
  <!-- Google Sign-in button -->
  <div id="gsigninButton">
    <span class="g-signin"
      data-scope="openid email profile"
      data-clientid="85098457255-f06euc0q5qbd0h766qqf6op7b1s6i1ii.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div id="result"></div>

  <!-- Script for Google Sign-in-->
  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        $('#gsigninButton').attr('style', 'display: none');
        $('#fbLoginButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: 'gconnect?state={{ STATE }}',
          processData: false,
          contentType: 'application/octet-stream; charset=utf-8',
          data: authResult['code'],
          success: function(result) {
            if (result) {
              $('#result').html('Login Successful!<br>' + result + '<br>Redirecting...')
              setTimeout(function() {
                window.location.href = '/';
              }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Fail to make a server-side call. Check your configuration and console.');
            }
          }
        })
      }
    }
  </script>


  <!-- Script for Facebook Login -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1454767101299316',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.2'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

     function sendTokenToServer() {
       $('#fbLoginButton').attr('style', 'display: none');
       var access_token = FB.getAuthResponse()['accessToken'];
       console.log(access_token);
       console.log('Welcome!  Fetching your information.... ');
       FB.api('/me', function(response) {
         console.log('Successful login for: ' + response.name);
         $.ajax({
           type: 'POST',
           url: '/fbconnect?state={{STATE}}',
           processData: false,
           data: access_token,
           contentType: 'application/octet-stream; charset=utf-8',
           success: function(result) {
             // Handle or verify the server response if necessary.
             if (result) {
               $('#gsigninButton').attr('style', 'display: none');
               $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                setTimeout(function() {
                 window.location.href = "/";
                }, 4000);
             } else {
               $('#result').html('Failed to make a server-side call. Check your configuration and console.');
             }
           }
         });
       });
     }
  </script>

  <!-- Facebook Login Button -->
  <fb:login-button id='fbLoginButton'
    scope="public_profile,email"
    onlogin="sendTokenToServer();">
  </fb:login-button>
</div>

{% endblock %}
